<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>mjhuber.alfredapp.repos</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2B426F0C-8E68-4475-A271-43A451EFD749</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5C12D04-5820-4E31-8BEC-5226B430E07C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5AD33521-6DDF-44F5-9167-1A89E0973C23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>008E67B9-D7F8-424D-AAE0-119E6E5987D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93789730-2BB2-425F-8056-A763535BA636</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5C12D04-5820-4E31-8BEC-5226B430E07C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>941F6745-DA39-4F36-A5E2-A4545A04A509</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7146B944-2FE5-424B-AE4E-29B0864E8391</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C46F2999-7FEB-4878-9C12-80E3CB630E25</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>008E67B9-D7F8-424D-AAE0-119E6E5987D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4ABA3E03-362D-43F9-AE60-663311ED192F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB66B94D-2FC0-4F30-A1C0-FE1872FE3819</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7146B944-2FE5-424B-AE4E-29B0864E8391</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFE2863E-29BE-4B22-B59D-BA812850A966</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93789730-2BB2-425F-8056-A763535BA636</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Micah Huber</string>
	<key>description</key>
	<string>open local git repos in your code editor</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>repos</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>open in VSCode</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>2B426F0C-8E68-4475-A271-43A451EFD749</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rrepo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading repos...</string>
				<key>script</key>
				<string>./alfred-repos "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open local git repo</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FFE2863E-29BE-4B22-B59D-BA812850A966</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>C5C12D04-5820-4E31-8BEC-5226B430E07C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>code</string>
						<key>outputlabel</key>
						<string>code</string>
						<key>uid</key>
						<string>941F6745-DA39-4F36-A5E2-A4545A04A509</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>sublime</string>
						<key>outputlabel</key>
						<string>sublime</string>
						<key>uid</key>
						<string>C46F2999-7FEB-4878-9C12-80E3CB630E25</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>iterm</string>
						<key>outputlabel</key>
						<string>iterm</string>
						<key>uid</key>
						<string>4ABA3E03-362D-43F9-AE60-663311ED192F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>93789730-2BB2-425F-8056-A763535BA636</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>open in SublimeText</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>EB66B94D-2FC0-4F30-A1C0-FE1872FE3819</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Sublime Text.app</string>
				<key>sourcefile</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>7146B944-2FE5-424B-AE4E-29B0864E8391</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/iTerm.app</string>
				<key>sourcefile</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>008E67B9-D7F8-424D-AAE0-119E6E5987D0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Open in iTerm</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>5AD33521-6DDF-44F5-9167-1A89E0973C23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>008E67B9-D7F8-424D-AAE0-119E6E5987D0</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>2B426F0C-8E68-4475-A271-43A451EFD749</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>5AD33521-6DDF-44F5-9167-1A89E0973C23</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>7146B944-2FE5-424B-AE4E-29B0864E8391</key>
		<dict>
			<key>xpos</key>
			<integer>735</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>93789730-2BB2-425F-8056-A763535BA636</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>C5C12D04-5820-4E31-8BEC-5226B430E07C</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>EB66B94D-2FC0-4F30-A1C0-FE1872FE3819</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>FFE2863E-29BE-4B22-B59D-BA812850A966</key>
		<dict>
			<key>note</key>
			<string>Fuzzy filter contents of ~/Downloads</string>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>REPOS_DIRECTORY</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>REPOS_DIRECTORY</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/mjhuber/alfred-repos</string>
</dict>
</plist>
